* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: blue;
    color: yellow;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    

}

.logo {
    text-decoration: solid;
    display: inline;
}